:root{--navi-color:#2196F3;
      --color-class: #212121;
      --color-main:#ffffff;}

body {
    background: #E5E5E5;
    font-family: Roboto;
}

.header {
    background: var(--color-main);
    text-decoration: none;
 }
.header-list {
    list-style: none;
}

.header-logo { 
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--navi-color);
}


.header-mouse {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--color-class);
 }

 .header-mouse:hover {
    color: var(--navi-color);
}
.header-mouse:focus {
    color: var(--navi-color);
}
.header-adress {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--navi-color);
 }

.header-tel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
 }

.main { }

.name {
    background: #2F303A;
 }

.name-idia {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--color-main);
 }

.name-click {
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--color-main);
background: #2196F3
 }
.duty {
   
 }

.duty-none { }
.duty-list {
    list-style: none;
 }
.duty-item {
    
 }

.duty-must {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-class);
 }

.duty-feature {
color: #757575;
 }

.work {

 }

.work-name {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-class);
 }

.work-list {
    list-style: none;
 }

.work-item { }
.team { 
    background: #F5F4FA;
}
.team-profettional {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-class);
 }

.team-list {
    list-style: none;
 }

.team-item { }
.team-face { }

.team-name {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: var(--color-class);
}

.team-position {
font-weight: 400;
font-size: 16px;
line-height: 1.19;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}
.footer {
    background: #2F303A;
    text-decoration: none;
    
 }

.footer-name {
font-family: Raleway, Calibri;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
/* identical to box height */
letter-spacing: 0.03em;
color: var(--navi-color);
 }

.footer-place { }
.footer-list {
    list-style: none;
 }

.link-view {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-item-map {
color: var(--color-main);
 }

.footer-item-mail {
color: rgba(255, 255, 255, 0.6);
 }

.footer-tel {
color: rgba(255, 255, 255, 0.6);
 }